@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Robot", sans-serif
}

body {
    min-height: 100vh;
    background-color: hsl(234, 29%, 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.card-container {
    width: 100%;
    max-width: 930px;
}

.card-section {
    background-color: hsl(0, 0%, 100%);
    border-radius: 32px;
    padding: 32px;
    display: flex;
    align-items: center;
    gap: 40px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .25);
}

.card-content {
    flex: 1;
    padding-left: 25px;
}

.card-content h1 {
    font-size: 56px;
    line-height: 1;
    color: hsl(234, 29%, 20%);
    margin-bottom: 24px;
    font-weight: 700;
}

.card-content p {
    font-size: 16px;
    line-height: 1.5;
    color: hsl(234, 29%, 20%);
    margin-bottom: 14px;
}

.card-content ul {
    list-style: none;
    margin-bottom: 32px;
}

.card-content ul li {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 14px;
    color: hsl(234, 29%, 20%);
    line-height: 1.5;
}

.check-icon {
    width: 21px;
    height: 21px;
}

#email-label {
    display: block;
    font-size: 12px;
    font-weight: 700;
    color: hsl(234, 29%, 20%);

}

#email-input {
    width: 100%;
    padding: 16px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 8px;
}

#email-input:focus {
    outline: none;
    border-color: hsl(234, 29%, 20%);
}

.email-error {
    display: block;
    min-height: 18px;
    margin-top: 5px;
    font-size: 12px;
    color: hsl(4, 100%, 67%);
}

#submit-btn {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 8px;
    background-color: hsl(234, 29%, 20%);
    color: white;
    font-weight: 700;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: hsl(4, 100%, 67%);
}

.images {
    flex: 1;
}

.desktop-image {
    display: block;
    width: 100%;
    max-width: 400px;
}

.mobile-image {
    display: none;
}


/* Yeyyyyyyyyyyyyyyyyyyyyyyyyyyy rensponsive kzoshuba😭😭😭 */

@media(max-width:900px) {
    .card-section {
        gap: 20px;
        padding: 1.5rem;
    }

    .card-content h1 {
        font-size: 2.8rem;
    }

    .desktop-image {
        width: 100%;
        max-width: 350px;
    }


}


@media(max-width:768px) {
    body {
        padding: 20px;
    }

    .card-section {
        flex-direction: column-reverse;
        border-radius: 10;
        padding: 20px;
        min-height: 80vh;
        gap: 0;
    }

    .images {
        width: 100%;
    }

    .desktop-image {
        display: none;
    }

    .mobile-image {
        display: block;
        width: 100%;
        height: auto;
    }

    .card-content {
        width: 100%;
        padding: 2.5rem 1.5rem;
    }

    .card-content h1 {
        font-size: 2.5rem;
        line-height: 1;
        margin-bottom: 1.5rem;
    }

    .card-content p {
        font-size: 1rem;
        line-height: 1.5;
    }

    .card-content ul li {
        font-size: 1rem;
        line-height: 1.5;
    }

    #email-input,
    #submit-btn {
        width: 100%;
        font-size: 0.9rem;
    }


}